!!!
html(lang=h_locale())
  block head
    meta(charset="utf-8")
    // != css('layout')

  body
    form.form(action='/', method='post')
      .control-group
        label.control-label(for="send-to")= __i('Send to')
        .controls
          input#send-to(type='text', name='sendTo', value='http://localhost:3000/bigbluebutton/api/callback')
        label.control-label(for="event-data")= __i('Data')
        .controls
          input#event-data(type='text', name='eventData', value='type=create&meetingID=12345&attendeePW=123')
      button.btn.btn-primary(type='submit')= __i('Send')

    block javascripts
      - if (h_environment == "development")
        script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js')
        script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.js')
      - else
        script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
        script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js')
      // != js('layout')
